<div class="container">
<form action="/auth/signup" method="POST">
  <label for="new-email">Email</label>
  <input id="new-email" type="email" name="email">

  <label for="new-first-name">First Name</label>
  <input id="new-first-name" type="text" name="firstName">

  <label for="new-last-name">Last Name</label>
  <input id="new-last-name" type="text" name="lastName">

  <label for="new-password">Password</label>
  <input id="new-password" type="password" name="password">

  <input type="submit" value="Sign up">
</form>

<h2>Don't be shy! Sign Up and be a Better BooThang!</h2>
</div>
