<!-- This is the Homepage -->
<main class="home container">
  <h2 class="text-center title">Welcome to Better BooThang</h2>
  <div class="row align-items-center">
    <section class="col container">
      <p>Have you ever forgotten to send a text? Did you ever leave someone on read, but this time, you didn't mean to? With Better BooThang you won't have to worry about those confrontational texts! Better BooThang is an automated messaging app that sends your loved ones texts messages even when you've forgotten to. Choose a pre-made text for every occasion!</p>

      <p>With Better BooThang all you have to do is automate your way into their heart!</p>

      <button id="how-it-works" type="button" data-toggle="modal" data-target="#<%= howItWorksModal.name %>">How does it work?</button>

      <%- include('partials/modal', {modal: howItWorksModal}) %>
    </section>

    <section class="col container login">
      <div class="card mb-2">
        <div class="card-body text-center">
          <h2 class="card-title">Log In</h2>
          <form action="/login" method="POST">
              <label for="auth-email">Email</label>
              <input id="auth-email" type="email" name="email">

              <label for="auth-password">Password</label>
              <input id="auth-password" type="password" name="password">

            <input type="submit" value="Log In">
          </form>
        </div>
      </div>

      <div class="card text-center">
        <div class="card-body">
          Not a member of Better BooThang? <a class="card-link" href="#" data-toggle="modal" data-target="#<%= signInModal.name %>">Sign up here.</a>
        </div>
      </div>
    </section>

    <%- include('partials/modal', {modal: signInModal}) %>

<!-- TODO: Insert Comedic Fake Customer Rating -->
  </div>
<div class = "rating">
  <h3>Here's What Users Have To Say!</h3>
  <p>We've asked users what their thoughts on Better BooThang was and here's their response!</p>
    <blockquote class = "Booker">
      "I was never the best with words so whenever I have a hard time writing a message, Better BooThang has got me covered! I can pick from one of their premade messages and send it to my boo with no worries. That text I was scared to type will automatically be typed up for me! They even have messages for different occasions!"
      <footer>- Booker Showers III, <cite>Stock Analyst</cite></footer>
    </blockquote>
    <blockquote class = "Derek">
      "Better BooThang has the ability to keep all of my Boos in one place. If I get another boo then I can add them to my list! Boo broke my heart? Deleting them has never been easier. With Better BooThang I know exactly where my Boos are at."
      <footer>- Derek Foster, <cite>Body Builder</cite></footer>
    </blockquote>
    </blockquote>
    <blockquote class = "Jamie">
      "Thanks to Better BooThang I've been a better boo! Being a Door Dash Driver I'm always on the road, but with Better BooThang I'm able to send a message from my phone and continue driving to my destination. It's as easy as ready, set, go!"
      <footer>- Jamie Cabrigas, <cite>Door Dash Driver</cite></footer>
    </blockquote>
</div>
</main>
