<!-- This is the Homepage -->
<main class="home container">
  <h2 class="text-center title">Welcome to Better BooThang</h2>
  <div class="row align-items-center">
    <section class="col container">
      <p>Have you ever forgotten to send a text? Did you ever leave someone on read, but this time, you didn't mean to? With Better BooThang you won't have to worry about those confrontational texts! Better BooThang is an automated messaging app that sends your loved ones texts messages even when you've forgotten to. Choose a pre-made text for every occasion!</p>

      <p>With Better BooThang all you have to do is automate your way into their heart!</p>

      <button id="how-it-works" type="button" data-toggle="modal" data-target="#<%= howItWorksModal.name %>">How does it work?</button>

      <%- include('partials/modal', {modal: howItWorksModal}) %>
    </section>

    <section class="col container login">
      <div class="card mb-2">
        <div class="card-body text-center">
          <h2 class="card-title">Log In</h2>
          <form action="/login" method="POST">
              <label for="auth-email">Email</label>
              <input id="auth-email" type="email" name="email">

              <label for="auth-password">Password</label>
              <input id="auth-password" type="password" name="password">

            <input type="submit" value="Log In">
          </form>
        </div>
      </div>

      <div class="card text-center">
        <div class="card-body">
          Not a member of Better BooThang? <a class="card-link" href="#" data-toggle="modal" data-target="#<%= signInModal.name %>">Sign up here.</a>
        </div>
      </div>
    </section>

    <%- include('partials/modal', {modal: signInModal}) %>

<!-- TODO: Insert Comedic Fake Customer Rating -->
  </div>
</main>
