@import url("https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #2bbcff;
  font-family: "Love Ya Like A Sister";
}

.alerts {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

header {
  width: 100vw;
  min-height: 75px;
  outline: 2px solid rgb(77, 73, 73);
  border-bottom: 3px solid goldenrod;
  background: #6156ea;
}

.header {
  display: inline-block;
  margin: 0 auto;
}

h1 {
  /* border: 2px solid red; */
  color: #49494a;
  text-shadow: 0 1px 2px #ffd300, 0 1px 4px white, 0 1px 10px black;
  font-family: "Love Ya Like A Sister";
  font-weight: bold;
}

nav {
  min-width: 75px;
  max-width: 150px;
  position: absolute;
  right: 15px;
  margin-right: 10px;
  outline: 2px solid black;
  border: 2px solid #ea6157;
  background: #57eaaa;
  display: flex;
  justify-content: center;
}

nav a {
  font-weight: bolder;
  color: #ea6157;
  text-shadow: 0 0 2px black;
  text-transform: uppercase;
}

nav a:hover {
  color: #eac357;
  text-shadow: 0 0 2px darkred, 0 0 5px black;
  text-decoration: none;
  transition-duration: 0.9s;
}

.title {
  padding: 25px;
}

.login {
  padding: 15px;
}

.boothangs {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.modal-backdrop {
  z-index: 0;
}

.custom {
  width: 75%;
  margin-bottom: 15px;
}

.suggestions {
  color: #000000;
  text-shadow: 0 1px 2px #6ad95b, 0 1px 4px white, 0 1px 10px black;
}

.suggestions:hover {
  color: #bd1a1a;
}

.form-flex,
.form-container {
  display: flex;
  flex-flow: column wrap;
}

.form-flex {
  align-items: center;
  gap: 15px;
}

.form-container {
  align-items: flex-end;
}

/* place in modal to center text */
.centered {
  margin: 0 auto;
}

/**
 * Bootstrap
 */
.card {
  padding: 15px;
}

.card .buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.boos {
  margin: 0;
  padding: 5px;
}

.profile {
  position: relative;
}

.addButton {
  position: absolute;
  top: 0;
  right: 0;
}

/**
 * Responsive
 */
@media only screen and (max-width: 650px) {
  .header {
    width: 100%;
    text-align: center;
  }
  nav {
    position: static;
    margin: 0 auto;
  }
  .addButton {
    position: initial;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  .boothangs {
    padding-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
