@import url("https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap");

body {
  background-color: #2bbcff;
  font-family: "Love Ya Like A Sister";
}

.alerts {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

header {
  width: 100vw;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  outline: 2px solid rgb(77, 73, 73);
  border-bottom: 3px solid goldenrod;
  background: #6156ea;
}

h1 {
  /* border: 2px solid red; */
  color: #49494a;
  text-shadow: 0 1px 2px #ffd300, 0 1px 4px white, 0 1px 10px black;
  font-family: "Love Ya Like A Sister";
  font-weight: bold;
  margin: 0 0 0 10px;
}

nav {
  width: 300px;
  margin: 0 10px 0 0;
}

nav ul {
  justify-content: center;
  padding: 0;
  gap: 20px;
  outline: 2px solid black;
  border: 2px solid #ea6157;
  background: #57eaaa;
  display: flex;
  list-style: none;
  margin: 0;
}

nav ul li a {
  font-weight: bolder;
  color: #ea6157;
  text-shadow: 0 0 2px black;
  justify-content: space-around;
  text-transform: uppercase;
}

nav ul li a:hover {
  color: #eac357;
  text-shadow: 0 0 2px darkred, 0 0 5px black;
  text-decoration: none;
  transition-duration: 0.9s;
}

.title {
  padding: 25px;
}

.login {
  padding: 15px;
}

.boothangs {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.modal-backdrop {
  z-index: 0;
}

.custom {
  width: 75%;
}

.suggestions {
  color: #000000;
  text-shadow: 0 1px 2px #6ad95b, 0 1px 4px white, 0 1px 10px black;
}

.suggestions:hover {
  color: #bd1a1a;
}

.form-flex,
.form-container {
  display: flex;
  flex-flow: column wrap;
}

.form-flex {
  align-items: center;
  gap: 15px;
}

.form-container {
  align-items: flex-end;
}

/* place in modal to center text */
.centered {
  margin: 0 auto;
}

/**
 * Bootstrap
 */
.card {
  padding: 15px;
}

.boos {
  margin: 0;
  padding: 5px;
}

/**
 * Responsive
 */
@media only screen and (max-width: 650px) {
  header > h1 {
    font-size: 1.5rem;
  }
  nav {
    width: 200px;
  }
  nav ul {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  nav ul li {
    font-size: 0.8rem;
  }
}
