<form action="/user" method="POST">
    <label for="booName">Boo Name</label>
    <input id="booName" type="text" name="name">

    <label for="booNumber">Boo Number</label>
    <input id="booNumber" type="number" name="phoneNumber">

    <input type="submit" value="Log In">
</form>
