<p>Choose your message!</p>

<form action="/user/messages" method="post">
  <ul>
  <% messages.forEach(function(message) { %>
    <li><%= message.message %></li>

    <input type="hidden" name="message" value="<%= message.message %>">

    <button type="submit" name="button">Choose this message</button>
  <% }) %>
  </ul>
</form>
