<p>Choose your message!</p>

<form action="/user/messages" method="post">
  <ul class="messages">
  <% messages.forEach(function(message) { %>
    <li><a href='#'><%= message.message %></a></li>
  <% }) %>
  </ul>

  <input id='message-to-boo' type="text" name="message" value="">
  <button type="submit" name="button">Choose this message</button>
</form>
