<div class="new-boothang-container">
  <form action="/user" method="POST" class="form-flex">
    <div class="form-container">
      <div>
        <label for="booName">Boo Name</label>
        <input id="booName" type="text" name="name">
      </div>

      <div>
        <label for="booNumber">Boo Number</label>
        <input id="booNumber" type="number" name="phoneNumber">
      </div>
    </div>

    <input type="submit" value="Add BooThang">
  </form>
</div>
