<p>Better BooThang is an app that uses timers, pre-made texts, and basic info about your loved ones to send them that loving notification when you want. If you're brand new to the app, here's the quick run through.</p>

<p>Firstly, you would want to make an account with us. Before we can send anything to your boo we need to know about you!</p>

<p>Once we know you, tell us about your boo! We don't need anything too personal, just the simple things like their:</p>
<p>- Name</p>
<p>- Phone Number</p>

<p>Set your message! Did you need to send a message about an anniversary? Did you almost forget about their birthday? Did you need to text them <i>every</i> day? Better BooThang has pre-made messages for every occasion! So if you're hitting a writer's block for your sentimental message, or if you can't find the right words, Better BooThang has got you covered!</p>

<p>Finally, pick <i>when</i> you want to send your messages! Our app allows you to choose the right time for you. Noon? 5pm? Midnight? Set it and forget it!</p>

<p>And that's it!</p>
