<!-- put drop down with boothangs here -->

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown button
  </button>
  <input type="hidden" name="chosenBoothang" value="">
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <% boothangs.forEach(function(boothang) { %>
      <button type="button" class="dropdown-item"><%= boothang.name %></button>
    <% })%>
  </div>
</div>

<button type="submit" name="button">Send it!</button>
