<div class="container">
  <form action="/signup" method="POST" class="form-flex">
    <div class="form-container">
      <div>
        <label for="new-email">Email</label>
        <input id="new-email" type="email" name="email">
      </div>

      <div>
        <label for="new-first-name">First Name</label>
        <input id="new-first-name" type="text" name="firstName">
      </div>

      <div>
        <label for="new-last-name">Last Name</label>
        <input id="new-last-name" type="text" name="lastName">
      </div>

      <div>
        <label for="new-password">Password</label>
        <input id="new-password" type="password" name="password">
      </div>
    </div>

    <input type="submit" value="Sign up">
  </form>
</div>
