<div class="update-boothang-container">
    <form action="/user/<%= boothang.id %>?_method=PUT" method="post" class="form-flex">
        <input type="text" name="newName" id="" placeholder="Name">
        <input type="text" name="newPhone" id="" placeholder="Phone #">
        <button type="submit" name="button">Update Boo Info</button>
    </form>
</div>
