<div class="container">
    <h2 class="text-center">Register for Better BooThang</h2>
    <form action="/user/<%= boothang.id %>?_method=PUT" method="post">
        <input type="text" name="newName" id="" placeholder="Name">
        <input type="text" name="newPhone" id="" placeholder="Phone #">
        <button type="submit" name="button">Update Boo Info</button>
    </form>
</div>